<header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('./assets/img/bg2.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">
                        KUSYS - DEMO Project
                    </h1>
                    <p class="lead text-white mt-3">
                        @*It is a mini Student and course project developed in enterprise architecture with .Net Core 6.*@
                        It is a mini student and course project developed in enterprise architecture with .Net Core 6.
                        Records created with dummy content are provided with MYSQL and Code First technology.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
