@{
    var request = Context.Request.Path;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="~/Views/Shared/_Head.cshtml" />
</head>

<body class="index-page bg-gray-200">
    @{
        if (request.Value == "/")
        {
            <partial name="~/Views/Shared/_HeaderNav.cshtml" />
            <partial name="~/Views/Shared/_Header.cshtml" />
            @RenderBody()
            <partial name="~/Views/Shared/_Footer.cshtml" />
        }
        else
        {
            <partial name="~/Views/Shared/_HeaderNavCommon.cshtml" />
            @RenderBody()
            <partial name="~/Views/Shared/_FooterCommon.cshtml" />
        }
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
